* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'tribeca';
    src: url(Tribeca.ttf) format('truetype');
}

.parallax {
    background-image: url('')
}

body h4, body p, main h1, main h2 {
font-family: 'tienne';

}

.header h1 {
   text-align: center;
   margin-top: 100px;
   margin-bottom: 150px;
   font-size: 2.5em;
}

main h1 {
    font-size: 2.5em;
    text-align: Center;
}
.menu-btn {
    cursor: pointer;
}

#menu {
    display: grid;
    grid-template-columns: 50% 50%;
    box-sizing: border-box;
    margin: auto;
}

.menu-item {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fcd5ad;
    width: 90%;
    border-radius: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;

}

.menu-head {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 2em;
}
.menu-item h1 {
    display: block;
    text-align: center;
}

h4 {
    font-size: 1.3em;
}


.soda-grid div{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.soda-grid .menu-btn {
    margin-bottom: 5px;
}

.soda-grid p {
    margin-top: 10px;
}

.cart-item-img {
    width: 80px;
    border-radius: 15px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}



#cart li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    background-color: #fcd5ad;
    max-width: 550px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

#cart-items li .remove-button {
    margin-left: auto;
    cursor: pointer;
    margin-right: 25px;
}

.menu-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

#cart {
    margin-left: 25px;
}

.menu-item h4, .menu-item p, .menu-item button, .menu-item img {
    margin-top: 8px;
    margin-left: 10px;
}

.soda-grid button {
    margin-left: 0px;
}

body {
    background-color: #fff9ec;
    color: #2B2B2B;
}

.menu-btn {
    background-color: #91bce7;
    color: #fff9ec;
    padding: 8px;
    border: none;
    border-radius: 15px;
    width: 100px;
}

.menu-btn:hover {
    background-color: #cae5ff;
    transition: 0.3s;
}

.remove-button {
    background-color: #91bce7;
    color: #fff9ec;
    padding: 8px;
    border: none;
    border-radius: 15px;
    width: 100px;
    
}


#receipt {
    width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px  #333;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1em;
    margin: 10px 0;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#order-summary {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

#order-summary li {
    font-size: 1em;
    line-height: 1.5;
}

#total-amount {
    font-weight: bold;
    font-size: 1.2em;
}

#countdown {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}


